@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell&family=Chakra+Petch:wght@300;400&family=Play&family=Rajdhani:wght@300;400&family=Saira+Condensed:wght@100;200&family=Source+Code+Pro:wght@200;300&display=swap");
.p-text {
  width: 80%;
}

.user-input-field {
  display: none;
  margin-top: 50px !important;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px !important;
  background: #b8b8b8;
  box-shadow: 10px 10px 2px #5c6777;
  border-style: outset;
  border-width: 5px;
  border-color: #cecece;
  width: 50%;
  margin: auto;
  justify-content: center;
}
.user-input-field textarea {
  resize: none;
}
.user-input-field div {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  flex-direction: column;
}

.cp-field {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
  margin-right: 10em;
}

.AdminTerminal {
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-left: 5em;
  padding: 1em;
}

.delete-btn {
  background-color: red;
  border-color: darkred;
  color: white;
}