@use "partial";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Chakra+Petch:wght@300;400&family=Play&family=Rajdhani:wght@300;400&family=Saira+Condensed:wght@100;200&family=Source+Code+Pro:wght@200;300&display=swap');

.p-text {
  width: 80%;
}

.user-input-field {
  display: none;
  @include partial.container-styling();
  @include partial.container-background();

  textarea {
    resize: none;
  }

  div {
    margin-top: .2em;
    margin-bottom: .2em;
    flex-direction: column;
  }
}

.cp-field {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
  margin-right: 10em;
  align-items: center;
}

.AdminTerminal {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
}

.admin-terminal-h1 {
  margin-top: 0;
  margin-bottom: 0.35em;
}

.mc-fetch-visitors {
  overflow: scroll;
  height: 20em;
  background-color: lighten($color: rgb(184, 184, 184), $amount: 10);
  padding-left: 2em;
}

.delete-btn {
  background-color: #d7000087;
  border-color: #8b0000ad;
  color: #7c0000;
  height: 2em;
}