@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell&family=Chakra+Petch:wght@300;400&family=Play&family=Rajdhani:wght@300;400&family=Saira+Condensed:wght@100;200&family=Source+Code+Pro:wght@200;300&display=swap");
body, html {
  height: 100%;
  text-align: center;
  background: #8797af;
  font-family: "Inconsolata", monospace;
  margin: 0px;
}

.admin-terminal-container {
  display: flex;
  width: 75%;
  margin: auto;
  background: #b8b8b8;
  box-shadow: 10px 10px 2px #5c6777;
  border-style: outset;
  border-width: 5px;
  border-color: #cecece;
  flex-direction: column;
  height: 40em;
}

.admin-terminal-title {
  font-size: 3.5em;
  padding: 2%;
  margin: 1px;
  background: black;
  color: white;
}

.admin-terminal-content {
  display: flex;
  flex-direction: row;
}

.admin-terminal-sidebar {
  display: flex;
  flex-direction: column;
  background: #b8b8b8;
  margin-left: 1%;
  margin-top: 1%;
}
.admin-terminal-sidebar button {
  height: 6em;
  width: 6em;
  margin: 0.5em;
  background: #cecece;
  border-style: outset;
  border-width: 2px;
  border-color: #cecece;
  font-family: "Inconsolata", monospace;
}

.admin-terminal-main {
  margin-left: 1% !important;
  margin: 0.5em;
  margin-right: 1%;
  margin-top: 1%;
}

.main-user-results {
  display: none;
}

.main-analytics {
  display: none;
}

.main-acct-mgmt {
  display: none;
}

.main-advanced {
  display: none;
}