@use "../../src/styles/partial";
// importing partial scss file mixins and google fonts
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Chakra+Petch:wght@300;400&family=Play&family=Rajdhani:wght@300;400&family=Saira+Condensed:wght@100;200&family=Source+Code+Pro:wght@200;300&display=swap');

body,html {
    @include partial.body-html();
    }

// --- index styling -----------------------------------------------------------------------------------
    
hr {
    border: 1px solid #dbdbdb;
    fill:#dbdbdb;
    margin-bottom: 25px;
    width: 95%;
    }

.logo-img {
    max-height: 2.2em;
    max-width: 2.2em;
    background: rgb(155, 155, 155);
    margin-left: .6em;
    border-style: outset;
    border-width: 2px;
    border-color:rgb(180, 180, 180);
}

.header-div {
    font-family: 'Play', sans-serif;
    display: flex;
    padding: 0px 20px;
    color: white;
    margin-top: 1em !important;
    font-size: 1.8em;
    align-items: center;
    @include partial.container-background();
}

.logo-evariste-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.span-landing{
    @include partial.container-background();
    @include partial.container-styling();
}

.personality-assessment {
    display: none;
    @include partial.container-background();
    @include partial.container-styling();
}

.cognitive-assessment {
    display: none;
    @include partial.container-background();
    @include partial.container-styling();
}

.p-assessment-h1 {
    color: rgb(81, 91, 105);
}

.text-muted {
    font-size: .9em;
}

.p-text {
    width: 80%;
}

.textarea-answer {
    margin-top: 2em;
    width: 65%;
    height: 75px;
    resize: none;
}

.radio-btn-flex {
    margin-top: .6em;
    display: flex;
    flex-direction: column;
    text-align: left;

    div {
        display: flex;
        flex-direction: row;
    }
}

.checkbox-btn-flex {
    margin-top: .6em;
    display: flex;
    flex-direction: row;
    text-align: left;

    div {
        display: flex;
        flex-direction: row;
        vertical-align: bottom;
        margin: 0;
        padding: 0;
    }
}

.continue-btn {
    margin-top: 1.2em;
}

.user-input-field {
    display: none;
    @include partial.container-styling();
    @include partial.container-background();

    div {
        margin-top:.2em;
        margin-bottom:.2em;
        flex-direction: column;
    }
}

.user-input-field-2 {
    display: none;
    @include partial.container-styling();

    div {
        margin-top:.2em;
        margin-bottom:.2em;
        flex-direction: column;
    }
}

.footer-bar {
    background: rgb(41, 41, 41);
    width: 100%;
    margin: 0;
    height: 3em;
}

.footer-text {
    color: white;
}

.footer-text-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    // styles 'email/joshua@system9.io'
    div {
        display: flex;
        flex-direction: row;
        margin-right: 58em !important;
        justify-content: flex-start;
    }

    // styles 'administrators' link
    a {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        padding: 0;
        margin-left: 0em !important; 
        align-items: center;
    }
}

// --- admin terminal styling --------------------------------------------------------

.admin-login-container{
    display: flex;
    margin-top: 50px !important;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px !important;
    @include partial.container-background();

    div{
        padding: 20px;
        width: 50%;
        margin: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    span{
        display: flex;
        padding: 20px;
        width: 50%;
        margin: auto;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}

.admin-terminal-container{
    display:flex;
    width: 75%;
    margin: auto;
    background: rgb(184, 184, 184); 
    box-shadow: 10px 10px 2px rgb(92, 103, 119);
    border-style: outset;
    border-width: 5px;
    border-color:rgb(206, 206, 206);
    flex-direction: column;
    height: 40em;
}

.admin-terminal-title{
    font-size: 3.5em;
    padding: 2%;
    margin: 1px;
    background: black;
    color: white;
}

.admin-terminal-content{
    display:flex;
    flex-direction: row;
}

.admin-terminal-sidebar{
    display:flex;
    flex-direction: column;
    background: rgb(184, 184, 184);
    margin-left: 1%;
    margin-top: 1%;

    button{
        height: 6em;
        width: 6em;
        margin: .5em;
        background:rgb(206, 206, 206);
        border-style: outset;
        border-width: 2px;
        border-color:rgb(206, 206, 206);
        font-family: 'Inconsolata', monospace;
    }
}

.admin-terminal-main{
    margin-left: 1% !important;
    margin: .5em;
    margin-right: 1%;
    margin-top: 1%;
}

.main-user-results{
    display: none;
}

.main-analytics{
    display: none;
}

.main-acct-mgmt{
    display: none;
}

.main-advanced{
    display: none;
}





